/*  Обращение бывают следующих типов:
    1) тэги p
    2) класс  .
    3) id # 
    4) атрибуты []
*/
.container {
    margin-top: 10px;
}

div {
    background: rgb(203, 224, 80);
}
li {
    font-size: 20px;
}
.left {float: left;
    background-color: green;
}
.right {float: right;
    background-color: hotpink;
}
.second_class {
    border: 7px solid black;
}


/* Перечисление классов которые находятся в одном сегменте CLASS */
/* left second_class third fourth */
.left.second_class.third.fourth {
    background-color: yellow;
}


/* Данная запись трактуется следующим образом: 
    main_menu - основной родительский блок 
    third - внутренний элемент который находится внутри блока 

    По простому: 
    CSS должен найти в HTML класс third который находится внутри main_menu  */
.main_menu .third {
    background-color: salmon;
}
/* Если нужно указать для нескольких блоков одни и те же цвета, то мы можем перечислить селекторы через запятую. */
.primer p, h6, h4, #id_2 {
    background-color: teal;
}

span {
    background-color: deepskyblue;
}
.primer {
    margin: 10px;
}
#my_id {
    background-color: brown;
}
[logo="name"] {
    background-color: cyan;
}

/* Урок 12 */
.urok12 {
    /* background-color: darkorchid; */
    background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGljfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    width: auto;
    height: 500px;
    margin-top: 120px;
    margin-left: 120px;
    margin-bottom: 120px;
    /* margin-top: 120%; */
    /* px - конкретное заданное число для примерения */
    /* rem - относительная единица измерения которая базируется от высоты html */
    /* em - относительная единица измерения которая базируется от родительского блока */
    /* % - относительная единица измерения которая базируется от ширины экрана либо от блока которму он задан */



    /* Правила 4-х сторон */
    /* Нужно всегда знать, что есть 4 стороны
    Левая сторона
    Правая сторона
    Верхняя сторона
    Нижняя сторона */

    /* ЦВЕТ */
    /*  Оранжевый цвет - это значит - margin =  внешний отступ 
        Желтый цвет - границы 
        Зеленый цвет - padding - внутренние отступы 
        Синий цвет content - содержимое документа */
}

a {
    background-color: darkorchid;
    display: block; 
    /* block - делает на всю ширину */
    /* inline-block - строчная структура */
    /* flex - удобная адаптация ширины */
}

.urok12_1 {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    border: 2px solid black;
    transition: .7s;
}
 /* pseudo */
.urok12_1 ul li:nth-child(3) {
    padding: 0;
    background: red;
}

.urok12_1 ul li:nth-child(2n) {
    padding: 0;
    background: rgb(0, 255, 64);
}
/* Задача:: 
По наведению на блок urok12_1 задний фон должен измениться */
.urok12_1:hover {
    background-color: rgb(228, 54, 54);
}
/* на что должно быть наведено */
/* hover - наведение */