<!DOCTYPE html>
<html>
    <head>
        <title>Lesson 65 - Animation</title>
        <link href="../styles/fontawesome/css/all.css" rel="stylesheet">
        
        <!-- Абсолютные пути:
        Чтобы войти в ту или иную папку нобходимо использовать "/". Чтобы выйти из какой либо папки нужно использовать две точки .. 
        Выйти и зайти будет выглядеть: ../ -->
        <link href="../styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <canvas id="canvas" width="280" height="500"></canvas>
        
        <script src="../script/script.js"></script>
    </body>

    <!-- <script type="module" src="../src/main.js"></script>
    <script type="module" src="../src/index.js"></script> -->
    
    <!-- <script src="../dist/bundle.js"></script> -->
   
   
    
</html>