<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../styles/style.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <button type="button" class="btn btn-info" id="btn1">Click me</button>
        <button type="button" class="btn btn-primary" id="btn2">Mouseover me</button>
        <button type="button" class="btn btn-success" id="btn3">Mouseout me</button>
        <button type="button" class="btn btn-danger" id="btn4">Delete me</button>
        <button type="button" class="btn btn-warning" id="btn5">Get my text</button>
    </div>
    
</body>
<script src="../script/script.js"></script>
</html>