/*  Обращение бывают следующих типов:
    1) тэги p
    2) класс  .
    3) id # 
    4) атрибуты []
*/


div {
    background: rgb(203, 224, 80);
}
li {
    font-size: 20px;
}
.left {float: left;
    background-color: green;
}
.right {float: right;
    background-color: hotpink;
}
.second_class {
    border: 7px solid black;
}


/* Перечисление классов которые находятся в одном сегменте CLASS */
/* left second_class third fourth */
.left.second_class.third.fourth {
    background-color: yellow;
}


/* Данная запись трактуется следующим образом: 
    main_menu - основной родительский блок 
    third - внутренний элемент который находится внутри блока 

    По простому: 
    CSS должен найти в HTML класс third который находится внутри main_menu  */
.main_menu .third {
    background-color: salmon;
}
/* Если нужно указать для нескольких блоков одни и те же цвета, то мы можем перечислить селекторы через запятую. */
.primer p, h6, h4, #id_2 {
    background-color: teal;
}
#my_id {
    background-color: brown;
}
[logo="name"] {
    background-color: cyan;
}