<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../styles/style.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container test-header">
            <h3 class="b-r">Lesson 44</h3>
            <p>Click to any color buttons to change the background color of below section</p>
            
            <button type="button" class="btn btn-primary" id="blue">Change color to blue</button>
            <button type="button" class="btn btn-success" id="green">Change color to green</button>
            <button type="button" class="btn btn-danger" id="red">Change color to red</button>
            <button type="button" class="btn btn-warning" id="orange">Change color to orange</button>
        </div>
    </header>
    <main>
        <div class="container test-main">
            <h5>This is a main body section and it has a <span id="color_text">lightblue</span> color now</h5>


            <button id="btn">Создать Promise!</button>
            <div id="log"></div>
            &nbsp;
        
            
        </div>
    </main>
    <footer>
        <div class="container test-footer">
            <h5>This is a footer section</h5>
        </div>
    </footer>
    
    
</body>
<script src="../script/script.js"></script>
<script src="../script/lessons_tasks.js"></script>
<script src="../script/script2.js"></script>
</html>