button.login {
    background: none;
    border: none;
}

span.bi.bi-person-fill {
    font-size: 20px;
    line-height: 1.63;
}

.accountbtn {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.dropdown-item {
    font-size: 13px;
}

.dropdown-menu.account.show {
    border-radius: 10px;
    margin-left: -111px;
    box-shadow: -1px 2px 15px 0px #b0acac;
    margin-top: 23px;
}

.btn.btn-link, .btn.btn-transparent {
    box-shadow: none;
}

.dropdown-toggle::after {
    color: #707171;
}