/*  Обращение бывают следующих типов:
    1) тэги p
    2) класс  .
    3) id # 
    4) атрибуты []
*/


div {
    background: rgb(203, 224, 80);
}
li {
    font-size: 20px;
}
.left {float: left;
    background-color: green;
}
.right {float: right;
    background-color: hotpink;
}